.header_first {
    background-color: var(--clr-dark-blue);
    color: var(--clr-light);
}

.header__first_elements,
.header__second_elements {
    display: flex;
    width: 73.75rem;
    margin: auto;
}

.header__second {
    background-color: var(--clr-white);
}

.header__second_elements {
    align-items: center;
}

.header__contacts {
    display: flex;
    font-size: 0.875rem;
    gap: 0.5rem;
    padding-block: 1rem;
}

.img__phone {
    margin-left: 2rem;
}

.header__socialmedia {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.text__logo {
    padding-block: 1.25rem;
    font-weight: 800;
    font-size: 1.25rem;
    text-transform: uppercase;
    background: var(--background-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.nav_list {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    margin-right: 3rem;
    margin-left: 3.625rem;
}

.nav_list a {
    color: var(--clr-dark);
    text-decoration: none;
}

.button__dropdown::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.header__second__navbar {
    display: flex;
    gap: 0.625rem;
    margin-left: auto;
}

.nav_list li a:hover {
    opacity: 0.7;
}
