.button__white {
    background: var(--clr-white);
    color: var(--clr-dark-blue);
    font-size: 0.9375rem;
}

.button__white:hover:enabled {
    box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.4);
}

.button__white:active:enabled {
    background: linear-gradient(0deg, rgba(24, 21, 75, 0.15), rgba(24, 21, 75, 0.15)), #ffffff;
}

.button__white:disabled {
    background: rgba(255, 255, 255, 0.6);
    cursor: auto;
}
