.footer {
    display: flex;
    background-color: var(--clr-dark-blue);
}

.footer__cols {
    margin: auto;
    width: 73.75rem;
    padding-block: 3.75rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    color: var(--clr-white);
    row-gap: 1rem;
}

.footer__cols-logo {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    grid-row: 1;
    margin-block: auto;
}

.footer__cols-copyright {
    color: var(--clr-grey);
}

.footer__cols-title {
    color: var(--clr-grey);
    text-transform: uppercase;
    margin-bottom: 1.25rem;

    grid-row: 1;
    margin-block: auto;
}

.footer__cols-button {
    grid-row: 1;
    justify-self: end;
}

.footer_cols-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.4rem;
}

.footer_cols-list li a {
    color: var(--clr-white);
    text-decoration: none;
    font-size: 0.9375rem;
}

.footer_cols-list__bottom {
    align-items: end;
    justify-content: end;
}

.footer_cols-list__bottom li a {
    color: var(--clr-grey);
}
